.header {
   background-color: #0B90D0;
}
.header .logo {
    float: left;
    padding-top: 6px;
    width: 200px;
}
.header .buscar__header{
    float: right;
    height: 70px;
}
.header .header .menu {
    width: 55%;
}

.menu ul {
  text-align: center;
  margin-top: 30px;
  text-align: right;
  z-index: 1;
}
.menu > ul > li {
    color: #fff;
	display: inline-block;

}
.menu ul > li > ul {
    display: none;  
    position: absolute;
    top: 100%;
    width: 100%;
}
.menu ul > li:hover > ul {
    display: block;
}
.menu ul > li > ul li {
    background: #cf4a61 none repeat scroll 0 0;
    color: #fff;
    height: 36px;
    line-height: 36px;
    text-align: left;
    width: 160px;
}
.menu ul > li > ul li:hover {
    background: #b51640;
}
.menu ul a {
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0px 5px;
}
.menu ul ul a {
    color: #fff;
    padding-left: 14px;
    text-align: left;
    text-decoration: none;
}
.menu>ul>li>a.sel, .menu>ul >li>a:hover {
    border: 2.5px solid #ffffff;
    padding: 0px 3px;
}



.menuRes{
    display: none;
    color: #ffffff;
    z-index: 1;
}
.menuRes:hover{
	color: #ffffff;
}
.header .buscar__header {
    float: right;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    width: 224px;
}
.buscar__header{
	width: 15%;
}
.logo, .buscar__header, .menu, .line__header{
	display: inline-block;
	vertical-align: middle;
}
.line__header{
	min-height: 100%;
	width: 1px;
	position: relative;
	left: 10px;
	top: 10px;
}





.ads__header img{
	margin: 10px 0px;
}
.top__header{
	text-align: right;
	background-color: #043B5A;
	padding: 10px 0px;
}

.top__header ul, .top__header ul li{
	margin-bottom: 0px;
	display: inline-block;
	color: #ffffff;
}
.top__header ul li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 11px;
	font-weight: 500;
	
}
.menu__top__header li a, .menu__top__login li a{
	padding: 0px 6px;
}
.menu__top__header li a:hover,  .top__header ul li:first-child:hover{
	text-decoration: underline;
}
.menu__top__header li:after{
	content: "|";
	font-weight: 400;
	font-size: 12px;
}
.menu__social__header img{
	vertical-align: bottom;
}
.menu__social__header a, .copyright__social a{
	position: relative;
	display: inline-block;
	padding: 0px 4px;
	margin-bottom: -6px;
}
.tw{
	background-image: url("../../images/header/twitter.png");
	height: 20px;
	width: 20px;
}
.tw:hover{
	background-image: url("../../images/header/twitter_hover.png");
}

.fb{
	background-image: url("../../images/header/facebook.png");
	height: 20px;
	width: 20px;
}
.fb:hover{
	background-image: url("../../images/header/facebook_hover.png");
}

.in{
	background-image: url("../../images/header/linkedin.png");
	height: 20px;
	width: 20px;
}
.in:hover{
	background-image: url("../../images/header/linkedin_hover.png");
}

a.boton__suscribase__header{
	color: #9A172F !important;
	background-color: #ffffff;
	font-weight: 700 !important;
	padding: 3px 4px !important;	
}
a.boton__suscribase__header:hover{
	color: #ffffff !important;
	background-color: #9A172F;

	-webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.menu__social__header{
	margin-left: 10px;
}
.menu__social__header li a{
	padding: 0px 3px;
}


.header__principal{
	background-color: #0B90D0;
	padding: 10px 0px;
}
.menu__header{
	text-align: center;
	margin-top: 26px;
	border-right: 1px solid #ffffff;
	border-height: 300px;
	height: 65px;
}
.buscar__header{
	margin-top: 20px;

}
.buscar__header input[type="text"]{
	width: 90%;
	height: 30px;
	font-size: 12px;
	max-width: 100%;
	background: url("../../images/header/icon_lupa.png") no-repeat scroll 0 0 #ffffff;
    border: 1px solid #BFBFBF;
	padding: 5px 5px 5px 15px;
    background-position: 175px 5px;
    margin-top: 8px;
}
ul.menu__header, .menu__header li{
	margin-bottom: 0px;
	margin-top: 15px;
}
.menu__header li{
	display: inline-block;
}
.menu__header li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	padding: 0px 5px;
}
.menu__header li a:hover{
	border: 2px solid #ffffff;
	padding: 0px 3px;
}
.ads__header_phone, .ads__header_tablet{
	display: none;
	text-align: center !important;
}
.ads__header_phone img, .ads__header_tablet img{
	max-width: 100%;
}