.de__actualidad h3, .lo__destacado h3, .medicina__alternativa h3, .nuestros__portales h3, .editor__jefe h3, .buscando_bienestar h3{
	max-width: 30%;
	background-color: #ffffff;
}
.de__actualidad h3 a, .lo__destacado h3 a, .medicina__alternativa h3 a, .nuestros__portales h3 a, .editor__jefe h3 a{
	text-decoration: none;
	color: #043B5A;
	font-size: 18px;
	font-weight: 700;
}
.line__actualidad__home, .line__destacado__home, .line__centros_profesionales, .line__medicina__alternativa{
	margin: 0px;
	top: -31px;
	position: relative;
	border-top: 1.5px solid #043B5A;
	text-align: right;
	z-index: -1;
}
.de__actualidad__cajas, .centros_profesionales_cajas, .medicina__alternativa_cajas, .nuestros__portales__cajas{
	padding-left: 20px;
}
.de__actualidad__cajas img{
	max-width: 100%;
	margin-bottom: 10px;
}
.de__actualidad__cajas h2, .centros_profesionales_cajas h2{
	font-size: 14px;
	text-align: justify;
	letter-spacing: 0px;
	margin-bottom: 10px;
}

.lo__destacado h3{
	max-width: 40%;
}
.lo__destacado h3 a, .centros__profesionales h3 a{
	color: #82A629;
}

.line__destacado__home{
	border-top: 1.5px solid #82A629;
}

.lo__destacado ul li{
	list-style: none;
	border-bottom: .5px solid #BDBDBD;
	padding: 2px 0px;
}
.lo__destacado ul li a{
	text-decoration: none;
	color: #3F3F3F;
	font-size: 14px;
	max-width: 100%;
}
.lo__destacado ul li a:hover{
	color: #A4A4A4;
}
.centros__profesionales{
	margin-top: 20px;
}

.centros__profesionales h3{
	max-width: 45% !important;
}
.line__centros_profesionales{
	border-top: 1.5px solid #82A629;
}
.centros_profesionales_cajas h4{
	background: #C9D3D1;
	max-width: 100%;
	text-align: center;
	color: #043B5A;
	font-weight: 700;
	font-size: 19px;
	padding: 10px 0px;
	letter-spacing: .1px;
	margin-bottom: 10px;
}
.centros_profesionales_cajas h2{
	margin-bottom: 20px;
}


.para_el_paciente{
	margin-bottom: 20px;
}
.para_el_paciente h3, .especiales__salud__hoy h3, .el__abc__de h3{
	max-width: 100%;
	background-color: #043B5A;
	text-align: center;
	padding: 10px 0px;
}
.para_el_paciente h3 a, .especiales__salud__hoy h3 a, .el__abc__de h3 a{
	color: #ffffff;
	font-weight: 400;
}
.para_el_paciente h2{
	line-height: 16px;
	font-size: 14px;
	font-weight: 700;
	color: #4E5B6E;
	letter-spacing: .2px;
	text-decoration: none;
	margin-bottom: 10px;
}
.para_el_paciente p{
	font-weight: 300;
	line-height: 16px;
	font-size: 14px;
	margin-bottom: 5px;
}
.para__el__paciente__cajas{
	padding: 0px 10px;
}

.line__sidebar__paciente, .line__buscando__bienestar, .line__nuestros__portales{
	border-bottom: 1px dashed #939495;
	margin: 20px 0px;
}
.line__buscando__bienestar{
	margin: 20px 0px;
}
.buscando_bienestar{
	padding-top: 20px !important;
}
.especiales__salud__hoy h3{
	background-color: #82A629;
	margin-bottom: 0px;
}
.flexslider{
	background: #F1F1F2;
	border: none;
	padding: 20px 50px 5px 50px;
	margin-bottom: 10px;
}
.flexslider{
	font-size: 12px;
	line-height: 16px;
}
.flexslider p{
	margin-bottom: 10px;
}
.flexslider ul li{
	border-bottom: none;
}
.el__abc__de{
	background: #F1F1F2;
}
.el__abc__de h2{
	text-align: center;
	font-size: 22px;
	color: #043B5A;
	font-weight: 400;
	margin-bottom: 10px;
}
.el__abc__de p{
	font-weight: 300;
	margin-right: 5px;
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
	margin-bottom: 10px;
}
.el__abc__de a.boton_vermas{
	margin-right: 4px;
}
.medicina__alternativa{
	margin-top: 20px;
}
.medicina__alternativa h3{
	max-width: 40%;
}
.medicina__alternativa h2{
	font-size: 14px;
	font-weight: 500;
	color: #4E5B6E;
	letter-spacing: .3px;
	margin-bottom: 5px;
}
.medicina__alternativa p{
	font-weight: 300;
	line-height: 16px;
	text-align: justify;
	margin-bottom: 20px;
}
.line__medicina__alternativa{
	border-top: 1.5px solid #043B5A;
}
.line2__medicina__alternativa hr{
	margin-top: 50px;
	margin-bottom: 10px;
}
.nuestros__portales{
	margin-top: 20px;
}
.nuestros__portales h3{
	max-width: 26%;
}
.nuestros__portales h3 a{
	font-size: 16.27px;
}
.nuestros__portales__cajas h4{
	font-size: 19px;
	font-weight: 700;
	background-color: #C9D3D1;
	width: 40%;
	text-align: center;
	padding: 10px 0px;
	color: #043B5A;
	margin-bottom: 10px;
}
.nuestros__portales__cajas h2{
	font-size: 16px;
	color: #4E5B6E;
	font-weight: 400;
	margin-bottom: 10px;
}
.nuestros__portales__cajas p{
	line-height: 16px;
	font-size: 12px;
	text-align: justify;
	margin-bottom: 10px;
}
.line__nuestros__portales{
	margin-left: 20px;
}
.ads__sidebar__2{
	margin-top: 10px;
}
.newsletter{
	margin-top: 10px;
	background: #F1EFEF;
	padding-bottom: 10px;
}
.newsletter h4{
	background-color: #82A629;
	padding: 5px 0px;
	margin-bottom: 10px;
}
.newsletter h4 a{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: .1px;
}
.newsletter p{
	font-size: 12px;
	margin-bottom: 5px;
}
.newsletter p span{
	color: #4E5B6E;
}
.newsletter__caja{
	padding: 0px 10px;
}
.newsletter__caja input[type="text"]{
	width: 100%;
	max-width: 100%;
	font-size: 12px;
}
.editor__jefe{
	margin-top: 20px;
}
.editor__jefe h3{
	max-width: 30%;
}
.editor__jefe h3 a{
	font-size: 16.27px;
}
.editor__jefe h5{
	color: #000000;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 20px;	
}
.editor__jefe p{
	font-size: 14px;
	text-align: justify;
	font-weight: 300;
}
.ads__footer img{
	max-width: 100%;
	padding: 20px 0px;
}
.flex-caption { 
  width: 40%;
  margin-bottom: -200px;
  position: relative;
  margin-right: 22px;
  top: -270px;
  float: right;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(255,255,255,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

.flex-caption h3 a{
	color: #ffffff;
	border: 1px solid #ffffff;
	max-width: 100%;
	padding: 5px 10px;
	text-decoration: none;
	font-weight: 300;
}
.flex-caption h2{
	font-size: 24px;
	font-weight: 400;
	letter-spacing: .2px;
	margin-bottom: 10px;
}
.flex-caption p{
	color: #ffffff;
	font-weight: 300;
}
/* Sidebar de la A a la Z */
.salud__a__z{
	margin-top: 10px;
}
.salud__a__z h3 {
	max-width: 100%;
	background-color: #4D5B6D;
	text-align: center;
	margin-bottom: 0px;
	padding: 10px 0px;
}
.salud__a__z h3 a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .1px;
	top: 0px;
	position: relative;
}
.salud__a__z ul{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.salud__a__z ul li{
	display: inline-block;
	border-radius: 15px;
	border: 3px solid #F2F0F0;
	height: 18px;
	width: 18px;
	line-height: normal
}
.salud__a__z ul li:hover{
	border: 3px solid #0C0C0C;
	border-radius: 15px;
}
.salud__a__z ul li a{
	color: #0C0C0C;
	text-decoration: none;
	font-weight: 700;
}
.salud__a__z ul li a:hover{
	color: #0C0C0C;
}