/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/


	@media only screen and (max-width: 1200px) {
		.show{
	        display: none;
	    }
	    .menuRes {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 40%;
        top: 26px;
        cursor: pointer;
       
	    }  
	    .menu ul {
	        position: absolute;
	        right: 24%;
	        top: 72px;
	        
	        background-color: #0B90D0;
	        padding: 0px 20px;
	    }
	    .menu > ul > li{
	    	display: block;
	    	text-align: left;
	    }
	    .menu>ul>li>a.sel, .menu>ul >li>a:hover {
	    	border: none;
	    	text-decoration: underline;
	    }
	    .buscar__header input[type="text"]{
	    	margin-top: 0px;
	    }
	    .line__header{
			display: none;
		}
		 .copyright{
			text-align: center;
		}
	}
	

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	    .header .logo{
			margin-top: 10px;
		}
		.show{
	        display: none;
	    }
		.top__header{
			text-align: center;
		}
		
		.ads__header_phone{
			display: none;
		}
		.ads__header{
			display: none;
		}
		.ads__header_tablet{
			display: inline-block;
		}
		.ads__header_tablet img{
			text-align: center;
		}
		.de__actualidad h3{
			max-width: 70%;
		}
		.lo__destacado h3{
			max-width: 40%;
		}
		.ads__header_phone{
			display: none
		}

		.buscar__header input[type="text"]{
			width: 90%;
			float: right;
			margin-top: -9px;
			background: url("../../images/header/icon_lupa.png") no-repeat scroll 0 0 #ffffff;
			background-position: 175px 5px
		}

		.menuRes {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 40%;
        top: 26px;
        cursor: pointer;
        
	    }  
	    .menu ul {
	        position: absolute;
	        right: 21%;
	        top: 38px;
	        
	        background-color: #0B90D0;
	        padding: 0px 20px;
	    }
	    .menu > ul > li{
	    	display: block;
	    	text-align: left;
	    }
	    .menu>ul>li>a.sel, .menu>ul >li>a:hover {
	    	border: none;
	    	text-decoration: underline;
	    }
		.de__actualidad h3{
			max-width: 30%;
		}
		.de__actualidad h3{
			max-width: 36%;
		}
	    .seven.columns.de__actualidad, .five.columns.lo__destacado, .four.columns.sidebar__2.center, .eight.columns.nuestros__portales{
	    	width: 100%;
	    }
	    .para_el_paciente h3, .lo__destacado h3{
	    	max-width: 100%;
	    }
	    .editor__jefe h3{
	    	max-width: 70%;
	    }
	    .para__el__paciente__cajas__texto{
	    	margin-top: 70px;
	    }
	    .copyright{
			text-align: center;
		}
		.footer__logos h3{
	    	margin-bottom: 20px;
	    }

	}
	

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.header{
			height: 70px;
		}
		.header .logo{
			margin-top: 10px;
		}
		.header .logo img{
			width: 120px;
		}
		.show{
	        display: none;
	    }
		.top__header{
			text-align: center;
		}
		
		.ads__header_phone{
			display: inline-block;
		}
		.ads__header{
			display: none;
		}
		.ads__footer{
			display: none;
		}
		.ads__header_phone img{
			text-align: center;
		}
		.de__actualidad h3{
			max-width: 56%;
		}
		.centros__profesionales h3{
			max-width: 64% !important;
		}
		.lo__destacado h3{
			max-width: 40%;
		}
		.buscar__header input[type="text"]{
			width: 70%;
			float: right;
			margin-top: -25px;
			background: url("../../images/header/icon_lupa.png") no-repeat scroll 0 0 #ffffff;
			background-position: 130px 5px
		}

		.menuRes {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 50%;
        top: 9px;
        cursor: pointer;
        
	    }  
	    .menu ul {
	        position: absolute;
	        right: 24%;
	        top: 38px;
	        
	        background-color: #0B90D0;
	        padding: 0px 20px;
	    }
	    .menu > ul > li{
	    	display: block;
	    	text-align: left;
	    }
	    .menu>ul>li>a.sel, .menu>ul >li>a:hover {
	    	border: none;
	    	text-decoration: underline;
	    }
	    .seven.columns.de__actualidad, .five.columns.lo__destacado, .four.columns.sidebar__2.center, .eight.columns.nuestros__portales{
	    	width: 100%;
	    }
	    .para_el_paciente h3, .lo__destacado h3{
	    	max-width: 100%;
	    }
	    .editor__jefe h3{
	    	max-width: 70%;
	    }
	    .footer__logos h3{
	    	margin-bottom: 20px;
	    }
	    .copyright__contact li{
	    	margin-right: 0px;
	    	margin: 0px 10px;
	    }
	    .footer__logos ul li img{
			margin-bottom: 20px;
		}
		.copyright{
			text-align: center;
		}
		.menu__top__header li:last-child:after{
	    	content: none;
	    }
	    .spacing__centros{
			margin-bottom: 26px;
	    }
	    .nuestros__portales__cajas h4{
	    	width: 100%;
	    }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.header{
			height: 70px;
		}
		.header .logo{
			margin-top: 10px;
		}
		.header .logo img{
			width: 120px;
		}
		.show{
	        display: none;
	    }
		.top__header{
			text-align: center;
		}
		
		.ads__header_phone{
			display: inline-block;
		}
		.ads__header{
			display: none;
		}
		.ads__footer{
			display: none;
		}
		.ads__header_phone img{
			text-align: center;
		}
		.de__actualidad h3{
			max-width: 50%;
		}
		.footer__logos ul li img{
			margin-bottom: 20px;
		}
		.copyright{
			text-align: center !important;
		}
		.logo__footer{
			text-align: center !important;
		}
		.logo__footer img{
			width: 50%;
			text-align: center;
			margin: 0 auto !important;
		}
		.menu__header{
			border-right: none;
		}
		.buscar__header{
			margin-top: -66px;
		}
		.buscar__header input[type="text"]{
			width: 50%;
			float: right;
			margin-top: -20px;
			background: url("../../images/header/icon_lupa.png") no-repeat scroll 0 0 #ffffff;
			background-position: 85px 5px;
		}

		.menuRes {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 45%;
        top: 9px;
        cursor: pointer;
	    }  
	    .menu ul {
	        position: absolute;
	        right: 16%;
	        top: 38px;
	        background-color: #0B90D0;
	        padding: 0px 20px;
	    }
	    .menu > ul > li{
	    	display: block;
	    	text-align: left;
	    }
	    .menu>ul>li>a.sel, .menu>ul >li>a:hover {
	    	border: none;
	    	text-decoration: underline;
	    }
	    .nuestros__portales h3{
	    	max-width: 63%;
	    }
	    .lo__destacado h3{
	    	max-width: 50%;
	    }
	    .editor__jefe h3, .lo__destacado h3{
	    	max-width: 100%;
	    }
	    .nuestros__portales__cajas h4{
	    	width: 100%;
	    }
	    ul.menu__top__header{
	    	margin-bottom: 10px;
	    }
	    .centros__profesionales h3{
	    	max-width: 100% !important;
	    }
	    .de__actualidad h3{
	    	max-width: 60%;
	    }
	    .el__abc__de h2{
	    	margin-top: 10px;
	    }
	    .el__abc__de p{
	    	padding: 0px 10px;
	    }
	    .salud__a__z ul li{
	    	height: 15px;
	    	width: 15px;
	    }
	    .no__display__phone{
	    	display: none !important;
	    }
	    .para_el_paciente h2{
	    	margin-top: 20px;
	    }
	    .flex-caption p{
	    	display: none;
	    }
	    .flex-caption h2{
	    	font-size: 16px;
	    }
	    .flex-caption{
	    	width: 82%;
	    	padding: 5%;
	    }
	    .copyright__contact li{
	    	margin-right: 0px;
	    	margin: 0px 10px;
	    }
	    .spacing__centros{
			margin-bottom: 26px;
	    }
	    .menu__top__header li:last-child:after{
	    	content: none;
	    }
	    .footer__logos h3{
	    	margin-bottom: 20px;
	    }
	    .de__actualidad{
	    	margin-top: 70px;
	    }
	    .slider-container{
	    	top: 90px;
	    }

	}
