/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.ads__header_phone{
			display: none
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	    .header .logo{
			margin-top: 10px;
		}
		.show{
	        display: none;
	    }
		.top__header{
			text-align: center;
		}
		
		.ads__header_phone{
			display: none;
		}
		.ads__header{
			display: none;
		}
		.ads__header_tablet{
			display: inline-block;
		}
		.ads__header_tablet img{
			text-align: center;
		}
		.de__actualidad h3{
			max-width: 70%;
		}
		.lo__destacado h3{
			max-width: 40%;
		}
		.ads__header_phone{
			display: none
		}

		.buscar__header input[type="text"]{
			width: 90%;
			float: right;
			margin-top: -9px;
			background: url("../../images/header/icon_lupa.png") no-repeat scroll 0 0 #ffffff;
			background-position: 175px 5px
		}

		.menuRes {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 40%;
        top: 26px;
        cursor: pointer;
        z-index: 99999;
	    }  
	    .menu ul {
	        position: absolute;
	        right: 16%;
	        top: 38px;
	        z-index: 99999;
	        background-color: #0B90D0;
	        padding: 0px 20px;
	    }
	    .menu > ul > li{
	    	display: block;
	    	text-align: left;
	    }
	    .menu>ul>li>a.sel, .menu>ul >li>a:hover {
	    	border: none;
	    	text-decoration: underline;
	    }

	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.header{
			height: 70px;
		}
		.header .logo{
			margin-top: 10px;
		}
		.header .logo img{
			width: 120px;
		}
		.show{
	        display: none;
	    }
		.top__header{
			text-align: center;
		}
		
		.ads__header_phone{
			display: inline-block;
		}
		.ads__header{
			display: none;
		}
		.ads__footer{
			display: none;
		}
		.ads__header_phone img{
			text-align: center;
		}
		.de__actualidad h3{
			max-width: 70%;
		}
		.lo__destacado h3{
			max-width: 40%;
		}
		.buscar__header input[type="text"]{
			width: 70%;
			float: right;
			margin-top: -25px;
			background: url("../../images/header/icon_lupa.png") no-repeat scroll 0 0 #ffffff;
			background-position: 130px 5px
		}

		.menuRes {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 50%;
        top: 9px;
        cursor: pointer;
        z-index: 99999;
	    }  
	    .menu ul {
	        position: absolute;
	        right: 24%;
	        top: 38px;
	        z-index: 99999;
	        background-color: #0B90D0;
	        padding: 0px 20px;
	    }
	    .menu > ul > li{
	    	display: block;
	    	text-align: left;
	    }
	    .menu>ul>li>a.sel, .menu>ul >li>a:hover {
	    	border: none;
	    	text-decoration: underline;
	    }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.header{
			height: 70px;
		}
		.header .logo{
			margin-top: 10px;
		}
		.header .logo img{
			width: 120px;
		}
		.show{
	        display: none;
	    }
		.top__header{
			text-align: center;
		}
		
		.ads__header_phone{
			display: inline-block;
		}
		.ads__header{
			display: none;
		}
		.ads__footer{
			display: none;
		}
		.ads__header_phone img{
			text-align: center;
		}
		.de__actualidad h3{
			max-width: 50%;
		}
		.footer__logos ul li img{
			margin-bottom: 20px;
		}
		.copyright{
			text-align: center !important;
		}
		.logo__footer{
			text-align: center !important;
		}
		.logo__footer img{
			width: 50%;
			text-align: center;
			margin: 0 auto !important;
		}
		.menu__header{
			border-right: none;
		}
		.buscar__header{
			margin-top: -66px;
		}
		.buscar__header input[type="text"]{
			width: 70%;
			float: right;
			margin-top: -25px;
			background: url("../../images/header/icon_lupa.png") no-repeat scroll 0 0 #ffffff;
			background-position: 130px 3px;
		}

		.menuRes {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 50%;
        top: 9px;
        cursor: pointer;
        z-index: 99999;
	    }  
	    .menu ul {
	        position: absolute;
	        right: 16%;
	        top: 38px;
	        z-index: 99999;
	        background-color: #0B90D0;
	        padding: 0px 20px;
	    }
	    .menu > ul > li{
	    	display: block;
	    	text-align: left;
	    }
	    .menu>ul>li>a.sel, .menu>ul >li>a:hover {
	    	border: none;
	    	text-decoration: underline;
	    }
	    .nuestros__portales h3{
	    	max-width: 63%;
	    }
	    .lo__destacado h3{
	    	max-width: 50%;
	    }
	    .editor__jefe h3, .lo__destacado h3{
	    	max-width: 100%;
	    }
	    .nuestros__portales__cajas h4{
	    	width: 100%;
	    }
	    ul.menu__top__header{
	    	margin-bottom: 10px;
	    }
	    .centros__profesionales h3{
	    	max-width: 81% !important;
	    }
	    .de__actualidad h3{
	    	max-width: 70%;
	    }
	    .el__abc__de h2{
	    	margin-top: 10px;
	    }
	    .el__abc__de p{
	    	padding: 0px 10px;
	    }
	    .salud__a__z ul li{
	    	height: 15px;
	    	width: 15px;
	    }
	    .no__display__phone{
	    	display: none !important;
	    }
	    .para_el_paciente h2{
	    	margin-top: 20px;
	    }
	    .flex-caption p{
	    	display: none;
	    }
	    .flex-caption h2{
	    	font-size: 16px;
	    }
	    .flex-caption{
	    	width: 82%;
	    	padding: 5%;
	    }
	    .copyright__contact li{
	    	margin-right: 0px;
	    	margin: 0px 10px;
	    }
	}
